{{ define "mfa" }}
    {{ template "no_auth_header" }}
    <div class="container" style="padding-top: 5rem">
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <div class="card">
                    <h5 class="card-title text-center" style="padding-top: 1rem">Complete Login</h5>
                    <div class="card-body">
                        <form action="/form/mfa" method="post">
                            <div class="mb-3">
                                <label for="mfa_code" class="form-label">Enter MFA Code</label>
                                <input type="number" class="form-control" id="mfa_code" name="mfa_code" aria-describedby="mfa_codeHelp" required autofocus>
                            </div>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="col">
            </div>
        </div>
    </div>
{{ template "no_auth_footer" }}
{{ end }}