{{ define "no_auth_header" }}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    <title>Auditmon</title>
</head>
<body>
{{ end }}

{{ define "no_auth_footer" }}
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    </body>
    </html>
{{ end }}